/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(0, 38, 87);
    display: flex;
    height: 100%;
    width: 100%;
} */

/* a {
    text-decoration: none;
    color: black;
} */

/* #container-body {
    background-color: rgb(0, 38, 87);
    width: 80%;
    height: 97%;
    position: fixed;
    top: 9px;
    padding-bottom: 2px;
    left: 18.5%;
} */

