.container-sales {
   display: flex;
   justify-content: center;
   /* background-color: rgb(0, 38, 87); */
}


#bottonAlert {
   background-color: rgb(190, 231, 255);
   position: absolute;
   right: 10px;
   bottom: 10px;
   color: black;
   border-radius: 5px;
   border: 1px solid white;
   height: 30px;
   width: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.msg {
   margin-left: 10px;
}

.imgLogo {
   margin-left: 10px;
   width: 70px;
}

.alert {
   display: none;
}

.alertDisplay {
   font-size: 15px;
   position: absolute;
   width: 450px;
   height: 150px;
   background-color: rgb(27, 27, 27);
   border: 1px solid gray;
   color: white;
   border-radius: 10px;
   left: 350px;
   top: 80px;
   text-align: center;
   align-items: center;
   display: flex;
   justify-content: center;
   padding: 5px;
}

#nomeProduto,
#descricao {
   text-align: center;
   outline: none;
   width: 100%;
   height: 29px;
   background-color: #FFFFE0;
   border: 1px solid #ccc;
   font-size: 16px;
   background-color: #FFFFE0;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2)
}

#nomeProduto1,
#descricao1 {
   text-align: center;
   outline: none;
   width: 100%;
   height: 29px;
   background-color: #ffffff00;
   border: none;
   /* border: 1px solid #ccc; */
   font-size: 16px;
   box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   -webkit-appearance: none;
   appearance: none;
}


input,
#preco,
#massa,
#volume,
#precoCusto,
#categoria,
#tamanho,
#tamanhoNumero,
#cor,
#unidade {
   text-align: center;
   outline: none;
   background-color: #FFFFE0;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
   border: 1px solid #ccc;
   width: 100%;
   height: 29px;
}

#massaNumero,
#volumeNumero {
   text-align: center;
   outline: none;
   background-color: #FFFFE0;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
   border: 1px solid #ccc;
   width: 120px;
   height: 25px;
   margin-right: 4px;
}


.divForm {
   width: 100%;
   height: 100vh;
   position: relative;
   margin-top: 115px;

}

.tableCadastro {
   width: 100%;
   height: 100vh;
}

.spanEstoque {
   border: 1px solid #ccc;
   height: 22px;
   width: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.spanProdutosBuscar {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 159px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
}

.spanProdutosBuscar:hover {
   border: 1px solid rgb(173, 173, 173);
   background-color: rgba(255, 255, 255, 0);
   border-right: none;
   width: 159px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
}

.spanProdutosCadastro {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 350px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
}

.spanDescricao {
   height: 22px;
   border: 1px solid rgb(173, 173, 173);
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.spanProdutosCadastro:hover {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 350px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
   border-bottom: none;
}

.spanProdutosCadastro2 {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
}

.spanProdutosCadastro2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
   background-color: rgba(255, 255, 255, 0);

}

.spanProdutosCadastroIn {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
}

.spanProdutosCadastroIn:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosCadastroIn2 {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-left: none;
}

.spanProdutosCadastroIn2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 350px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-left: none;
   background-color: rgba(255, 255, 255, 0.007);
}

input,
#categoria,
#tamanho,
#tamanhoNumero,
#cor,
#massa,
#preco1,
#precoCusto,
#codigoDeBarras,
#estoque1 {
   height: 25px;
}

input:hover,
#massa:hover,
#categoria:hover,
#tamanho:hover,
#tamanhoNumero:hover,
#cor:hover,
#preco1:hover,
#precoCusto:hover,
#codigoDeBarras:hover,
#estoque1:hover {
   height: 25px;
}

.divTd {
   width: auto;
   height: 100vh;
   display: block;

}

#estoque3 {
   border: none;
   background-color: rgba(255, 255, 255, 0);
   box-shadow: none;
}

.titleTr {
   height: 22px;
   position: sticky;
   top: -50px;
}

.trTable {
   width: 100%;
   align-items: top;
   justify-content: center;
   display: flex;
   margin-top: -13px;
}

.spanProdutosPreco {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   border-left: none;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosPreco:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   border-left: none;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosPreco3 {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   border-left: none;
   border-right: none;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosPreco3:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   border-left: none;
   border-right: none;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosPreco4 {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosPreco4:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}



.spanProdutosCategoria {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 370px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanProdutosCategoria:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 370px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
   border-right: none;

}

.spanProdutosPreco2,
.spanProdutosPrecoCusto {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-left: none;
}

.spanProdutosPreco2:hover,
.spanProdutosPrecoCusto:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-left: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosCategoria2 {
   border: 1px solid rgb(173, 173, 173);
   width: 370px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanProdutosCategoria2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 370px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
   border-right: none;
}


.spanItem {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 65px;
   display: flex;
   height: 22px;
   justify-content: center;
   align-items: center;
   margin-left: 43px;
}

.spanItem2 {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 60px;
   display: flex;
   height: 22px;
   justify-content: center;
   align-items: center;
   margin-left: 43px;
}




.codigo0 {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 220px;
   display: flex;
   height: 22px;
   justify-content: center;
   align-items: center;

}


.produtos0 {
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tamanhoPG {
   border-bottom: none;
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 250px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.precoCusto {
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 180px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.precoVenda {
   border-bottom: none;
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 180px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.tamanhoNum {
   border-bottom: none;
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 200px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.categoriaLista {
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 320px;
   display: flex;
   justify-content: center;
   align-items: center;
}

#categoria,
#cor,
#tamanhoNumero,
#tamanho,
#unidade {
   height: 100%;
}

#categoria:hover,
#cor:hover,
#tamanhoNumero:hover,
#tamanho:hover,
#unidade:hover {
   height: 100%;
}

.descricaoList0 {
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 500px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.codigoLista {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 169px;
   display: flex;
   height: 22px;
   justify-content: center;
   align-items: center;
}



.spanProdutosEstoque {
   border: 1px solid rgb(173, 173, 173);
   width: 200px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
   border-bottom: none;
}

.spanProdutosEstoque:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 200px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosEstoque5 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-left: none;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
   border-bottom: none;
}

.spanProdutosEstoque5:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-left: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosEstoque6 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-left: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosEstoque6:hover {
   border: 1px solid rgb(173, 173, 173);

   border-left: none;
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosEstoque1 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
   border-bottom: none;
}

.spanProdutosEstoque1:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanProdutosEstoque2 {
   height: 29px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.spanProdutosEstoque2:hover {
   height: 29px;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosEstoque3 {
   height: 29px;
   display: flex;
   width: 150px;
   justify-content: center;
   align-items: center;
}

.spanProdutosEstoque3:hover {
   height: 29px;
   width: 150px;
   background-color: rgba(255, 255, 255, 0);
}

.spanProdutosUnidade {
   border: 1px solid rgb(173, 173, 173);
   width: 200px;
   display: flex;
   height: 17px;
   border-left: none;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0);
   border-bottom: none;
}

.spanProdutosUnidade:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 200px;
   border-left: none;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);

}

#massa {
   width: 100%;
   height: 100%;
}

#massa:hover {
   width: 100%;
   height: 100%;
}

.spanProdutosUnidade2 {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 29px;
   border-left: none;
}

.spanProdutosUnidade2:hover {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 29px;
   border-left: none;
   background-color: rgba(255, 255, 255, 0);
}

.ulCadastro {
   display: flex;
   margin-left: -40px;
   justify-content: left;
   margin-top: 0px;

}

.ulCadastro:hover {
   display: flex;
   margin-left: -40px;
   justify-content: center;
   margin-top: 0px;
   justify-content: left;
}

.ulCadastro2 {
   display: flex;
   margin-left: -40px;
   justify-content: center;
   margin-top: -20px;
   justify-content: left;
}

.ulCadastro2:hover {
   display: flex;
   margin-left: -40px;
   justify-content: center;
   margin-top: -20px;
   justify-content: left;
}


.spanProdutosCodigo {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   border-bottom: none;
}

.spanProdutosCodigo:hover {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
   border-bottom: none;
}

.spanTamanho {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-right: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
}

.spanTamanho:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-right: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanMedida {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-right: none;
   width: 300px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
}

.spanMedida:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-right: none;
   width: 300px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanMedida2 {
   border: 1px solid rgb(173, 173, 173);
   width: 300px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanMedida2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 300px;
   display: flex;
   border-right: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanTamanhoNumero {
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
}

.spanTamanhoNumero:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   border-right: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanCor {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
}

.spanCor:hover {
   border: 1px solid rgb(173, 173, 173);
   border-bottom: none;
   width: 150px;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}


.spanProdutosCodigo2 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanProdutosCodigo2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-right: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanTamanho2 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanTamanho2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-right: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

.spanTamanhoNumero2 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   border-right: none;
}

.spanTamanhoNumero2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   border-right: none;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.000);
}


.spanCor2 {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;

}

.spanCor2:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 150px;
   display: flex;
   height: 29px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
}

button,
#alterar,
#excluir,
#Cadastrar,
#pesquisar {
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 16px;
}


.pesquisar {
   margin-left: -20px;
}



#cadastrar,
#pesquisar,
#alterar,
#excluir {
   width: 100%;
}


.liBtn {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 310px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   height: 50px;
   margin-top: -21px;
}

.liBtn:hover {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 270px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   width: 310px;
   height: 50px;
   margin-top: -21px;
}

.liBtn0 {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 310px;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   height: 49px;
   margin-top: -20px;
}

.liBtn0:hover {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 270px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   width: 310px;
   height: 49px;
   margin-top: -20px;
}

.liBtn3 {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 310px;
   height: 49px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   margin-top: -20px;
}

.liBtn3:hover {
   background-color: rgba(255, 255, 255, 0);
   border: 1px solid rgb(173, 173, 173);
   width: 310px;
   height: 49px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-left: none;
   margin-top: -20px;
}

.litopBtn {
   border: 1px solid rgb(173, 173, 173);
   width: 270px;
   height: auto;
   display: flex;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
   margin-left: 10px;
   border: none;
}

.litopBtn:hover {
   border: 1px solid rgb(173, 173, 173);
   width: 270px;
   height: auto;
   display: flex;
   border: none;
   height: 17px;
   justify-content: center;
   align-items: center;
   background-color: rgba(255, 255, 255, 0.007);
   margin-left: 10px;
}

.listaEntrada {
   height: 22px;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-top: 0px;
   border-top: none;
   background-color: rgb(0, 38, 87);
   color:white;
   width: 100%;
}
.ulEntrada{
   border: 1px solid rgb(173, 173, 173);
   width: auto;
   height: 350px;
   margin-top: -16px
}
.descricaoLista0 {
   border: none;
   display: flex;
   height: 22px;
   width: 100%;
   margin-left: -50px;
}

.descricaoLista0:hover {
   background-color: rgba(255, 255, 255, 0);
}

.descricaoLista2 {
   border: none;
   display: flex;
   margin-left: px;
   margin-top: -15px;
   width: 100%;
   height: 22px;
   justify-content: left;
   margin-top: 0px;
   margin-left: -50px;
}


#listaProdutoFilter {
   border: 1px solid rgb(221, 221, 221);
   overflow-y: scroll;
   width: 1300px;
   height: 270px;
   margin-top: -17px;
   background-color: rgb(255, 255, 255);
}

.tableProdutos2 {
   display: none;
   position: absolute;
   top: 35px;
   left: 0px;
   background-color: white;
   height: 400px;
   width: 100%;
}


.tableProdutos2.active {
   display: block;
}


#categoriaLista {
   width: 230px;
}

.produtoFilter {
   height: 22px;
   margin-left: 0;
   border: 1px solid rgb(173, 173, 173);
   border-right: none;
   width: 380px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.tdFiltrarProdutos {
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 0px;
   height: 32px;
   display: flex;
   margin-left: -2px;
   align-items: center;
   border: 1px solid rgb(221, 221, 221);

}

.trFiltrar {
   padding-bottom: 50px;
   justify-content: center;
   display: flex;
   width: 100%;
   /* background-color: #45a049; */
}

.filtrarCodigo {
   margin-left: 20px;
}

#produtoFiltrados,
#codigoEAN {
   margin-left: 3px;
   cursor: pointer;
   text-align: center;
   outline: none;
   width: 100%;
   height: 29px;
   background-color: #FFFFE0;
   border: 1px solid #ccc;
   font-size: 16px;
   background-color: #FFFFE0;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#codigoEAN {
   margin-left: 3px;
   cursor: pointer;
   text-align: center;
   outline: none;
   width: 100%;
   height: 24px;
   background-color: #FFFFE0;
   border: 1px solid #ccc;
   font-size: 16px;
   background-color: #FFFFE0;
   box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.tituloCadastro {
   height: 22px;
   background-color: rgb(0, 38, 87);
   color: rgb(255, 255, 255);
}

.tbUlCadastro {
   height: 100vh;
   padding: 20px;
   margin-top: 13px;
   width: 100%;
   display: flex;
   justify-content: center;
   /* background-color: red; */
}

.barraTop {
   height: 22px;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-top: -16px;
   border-top: none;
}

.barra {
   height: 22px;
   background-color: rgb(0, 38, 87);
   width: 100%;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}

.barraTopEntrada {
   height: 22px;
   justify-content: center;
   display: flex;
   align-items: center;
   margin-top: -6px;
   border-top: none;
}

.barraEntrada {
   height: 22px;
   background-color: rgb(0, 38, 87);
   width: 100%;
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   align-items: center;
}

.barraBtn {
   margin-top: -15px;
   height: 60px;

}

#alterar,
#excluir,
#btnPesquisa,
#btnPesquisa2,
#cadastrar {
   border-radius: 4px;
   background-color: #B0C4DE;
   color: rgb(0, 0, 0);
   margin: 2px;
   padding: 10px;
   border: none;
   cursor: pointer;
   /* Mudar a cor do botão quando clicado */
   border-top: 1px solid rgb(143, 143, 143);
   border-left: 1px solid rgb(143, 143, 143);
   border-right: 2px solid rgb(48, 48, 48);
   border-bottom: 2px solid rgb(48, 48, 48);
}


#cadastrar:active,
#alterar:active,
#btnPesquisa:active,
#excluir:active,
#btnPesquisa2:active,
#cadastrar:active {
   background-color: #B0C4DE;
   color: rgb(0, 0, 0);
   margin: 2px;
   padding: 10px;
   border-radius: 4px;
   border: none;
   cursor: pointer;
   border-top: 2px solid rgb(48, 48, 48);
   border-left: 2px solid rgb(48, 48, 48);
   border-right: 1px solid rgb(143, 143, 143);
   border-bottom: 1px solid rgb(143, 143, 143);
}

.buscarProduto {
   margin-top: -10px;
   border: 1px solid rgb(170, 170, 170);
   width: 100%;
}

.buscarProduto3 {
   border: 1px solid rgb(170, 170, 170);
   width: 159px;
   height: 29px;
   border-right: none;
}

.buscarProduto3:hover {
   border: 1px solid rgb(170, 170, 170);
   width: 159px;
   height: 29px;
   border-right: none;
   background-color: rgba(255, 255, 255, 0);
}

#inputFiltar {
   margin-left: 5px;
   width: 150px;
   margin: 2px;
}