:root {
    --cor-AzulEscura: rgb(0, 38, 87);
    --cor-BorderCinza: #ddd;
    --cor-InputAmarelo: #FFFFE0;
    ;
}

.menu-list-2{
    position: absolute;
    left: 150px;
    background-color: red;
}

.alert {
    display: none;
}

.alertDisplay {
    font-size: 15px;
    position: absolute;
    width: 450px;
    height: 150px;
    background-color: rgb(27, 27, 27);
    border: 1px solid gray;
    color: white;
    border-radius: 10px;
    left: 350px;
    top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* Estilo para a tabela de pedido */
.tablePrint {
    width: 100%;
    border-collapse: collapse;
}

.tablePrint,

.tdPrint {
    border: 1px solid black;
}


.tdPrint {
    padding: 8px;
    text-align: left;
}


#bottonAlert {
    background-color: rgb(190, 231, 255);
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: black;
    border-radius: 10px;
    border: 1px solid white;
}

.msg {
    margin-left: 10px;
}

/* .imgLogo {
    margin-left: 10px;
    width: 70px;
} */

h3 {
    color: rgb(0, 38, 87);
}

.logo:hover {
    background-color: rgb(247, 247, 247);
}

.container {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 98vh;
    overflow: hidden;
}

body {
    overflow:auto;
    width: 100%;
    margin: 0;
    position: relative;
    background: rgb(0, 38, 87);
}

.container-table {
    margin-top: 105px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    font-weight: normal;
    min-height: 20px;
}

.td {
    height: 20px;
}

.tr-buscar {
    text-align: left;
}


#label-EAN {
    background-color: rgb(0, 38, 87);
    color: white;
    padding: 5px;
    border: 1px solid rgb(0, 38, 87);
}

th {
    background-color: rgb(0, 38, 87);
    color: white;
}

#table-carrinho {
    margin-top: 20px;
}

#input-EAN[type=number]::-webkit-inner-spin-button,
#input-EAN[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}


#dinheiro-recebido[type=number]::-webkit-inner-spin-button,
#dinheiro-recebido[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#buscar-cliente[type=number]::-webkit-inner-spin-button,
#buscar-cliente[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#inputCPF[type=number]::-webkit-inner-spin-button,
#inputCPF[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#dinheiro-recebido {
    outline: none;
    height: 20px;
    background-color: #FFFFE0;
}

.display {
    display: none;
}

#input-qtd,
#input-EAN,
#inputCPF {
    text-align: center;
    outline: none;
    height: 22px;
    background-color: #FFFFE0;
}

#input-qtd {
    width: 90%;
    font-size: 15px;
    background-color: #FFFFE0;
}

#carrinho {
    width: 40%;
    background-color: red;
    text-align: center;
}

#carrinho1 {
    width: 60%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    background-color: #FFFFE0;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 3px;
}

#button-clearEAN {
    margin-bottom: 2px;
}

button:hover {
    background-color: #45a049;
}

.codigo {
    width: 11%;
}

.produto {
    width: 38%;
}

.preco {
    width: 18%;
}

.estoque {
    width: 15%;
}

.excluir {
    width: 20px;
    margin-left: -10px;
    margin-top: -9px;
}

.buttonExcluir {
    margin-left: 15px;
    width: 40px;
    height: auto;
    background-color: rgb(247, 247, 247);
}

.buttonExcluir:hover {
    margin-left: 15px;
    width: 40px;
    height: auto;
    background-color: rgb(247, 247, 247);
}

.carrinho-add {
    width: 50%;
    margin-top: -5px;
    height: 390px;
    margin-left: 6px;
    background-image: url('../img/carrinho-de-compras.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#lista {

    height: 362px;
    border: 1px solid rgb(221, 221, 221);
    overflow-y: scroll;
    width: 97%;
    height: 200px;
    margin-top: -15px;
    background-color: rgb(247, 247, 247);
}

.li-carrinho {
    width: 98%;
    cursor: auto;
    border: none;
    font-size: 17px;
    background-color: rgb(247, 247, 247);
    padding: 2px;
    align-items: center;
    justify-content: right;
    height: 20px;
    cursor: pointer;
    text-align: center;
    justify-content: center;

}

.li-carrinho:hover {
    cursor: auto;
    background-color: rgb(247, 247, 247);
    height: 20px;
}


#forma-pagamento {
    margin: 0;
    text-align: center;
    outline: none;
    width: 50%;
    height: 26px;
    border-radius: 2px;
    background-color: #FFFFE0;
}

option {
    font-size: 17px;
    height: 20px;
}

.tr-cliente {
    text-align: right;
}

#buscar-cliente {
    margin: 0;
    outline: none;
    width: 50%;
    padding: 2px;
    height: 20px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid gray;
}

#cliente-add {
    margin: 0;
    outline: none;
    width: 60%;
    padding: 2px;
    height: 25px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid gray;
    font-size: 16px;
}

#button-cliente {
    margin-top: 2px;
}

.button-cliente {
    text-align: left;
}

.tr-buscarCliente,
.tr-pagamento {
    background-color: rgb(0, 38, 87);
    color: white;

}

#finalizar-venda {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    height: 30px;
}

.finalizar-venda {
    width: 100%;
    margin-top: -56px;
}

.buscar-cliente {
    display: none;
    position: absolute;
    width: 500px;
    height: 200px;
    background-color: red;
    bottom: 350px;
    right: 10px;
}

.titulo-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 38, 87);
    height: 10px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -0px;
}

.div-table1 {
    height: 300px;
    width: 50%;
    margin-top: 0;
    border: 1px solid var(--cor-BorderCinza);
}

.div-table2 {
    height: 300px;
    width: 50%;
    border: 1px solid var(--cor-BorderCinza);
    border-left: none;
}

.spanCli {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 38, 87);
    color: white;
    /* border: 1px solid rgba(128, 128, 128, 0.342); */
    height: 20px;
    margin-top: 0px;
    
}

#total {
    font-weight: bold;
    color: #333;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -5px;
    /* border: 1px solid var(--cor-BorderCinza); */
    margin-top: -15px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-left: none;
}

.total {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-left: none;
    height: 18px;
    margin-top: -19px;
}

#troco {
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-left: none;
    margin-top: -15px;
    font-size: 19px;
}

.troco {
    border-left: none;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);

    display: flex;
    justify-content: center;
    margin-top: -17px;
}


.spanPG {
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-right: none;
    display: flex;
    justify-content: center;
    margin-top: -16px;
}



.dataHJ {
    margin-left: 450px;
}

.dinheiro-recebido {
    height: 26px;
    display: flex;
    justify-content: center;
    padding: 1px;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    margin-top: -15px;
    border-left:none ;    
}

.forma-pagamento {
    margin-top: -15px;
    display: flex;
    justify-content: center;
    padding: 1px;
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-right: none;
    padding-bottom: 42px;
}

#clienteEncontrado {
    text-align: center;
    font-size: 16px;
    outline: none;
    height: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    border-right: none;
}

.clienteEncontrado {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -15px;
    height: 20px;
    padding: 3.5px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-right: none;
}

.clienteTitulo {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    background-color: rgb(0, 38, 87);
    height: 20px;
    color: white;
    /* border: 1px solid rgba(128, 128, 128, 0.342); */
    margin-top: 0;
}

.tituloBuscarCli {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -16px;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
}

.spanCPF {
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -15px;
    height: 20px;
    padding: 5px;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-right: none;
}

.spanCPFtitulo {
    margin-left: -30px;
}

.container-finalizar {
    display: flex;
    margin-top: -31px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 10px;
}