h3 {
    color: rgb(0, 38, 87);
}

.logo:hover {
    background-color: rgb(247, 247, 247);
}

#container-sales {
    background-color: rgb(0, 38, 87);
    position: fixed;
    top: 0;
    left: 18.5%;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0px;
}

.container-table {
    margin: 0;
    width: 79%;
    height: 91.8%;
    background-color: rgb(247, 247, 247);
    padding: 6px;
    padding-right: 15px;
    padding-top: 30px;
    position: fixed;
    top: 1.5%;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-left: 5px;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    font-weight: normal;
    min-height: 20px;
}

.td {
    height: 20px;
}

.tr-buscar {
    text-align: left;
}


#label-EAN {
    background-color: rgb(0, 38, 87);
    color: white;
    padding: 5px;
    border: 1px solid rgb(0, 38, 87);
}

th {
    background-color: rgb(0, 38, 87);
    color: white;
    padding: 5px;
}

#table-carrinho {
    margin-top: 20px;

}

#input-EAN[type=number]::-webkit-inner-spin-button,
#input-EAN[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
#dinheiro-recebido[type=number]::-webkit-inner-spin-button,
#dinheiro-recebido[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}
#dinheiro-recebido{
    outline: none;
    height: 20px;
}

#input-qtd,
#input-EAN {
    text-align: center;
    outline: none;
    height: 20px;
}

#input-qtd {
    width: 90%;
    font-size: 15px;
}

#carrinho {
    width: 40%;
    text-align: center;
}

#carrinho1 {
    width: 60%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"] {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    outline: none;
    
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 3px;
}

#button-clearEAN {
    margin-bottom: 2px;
}

button:hover {
    background-color: #45a049;
}



.codigo {
    width: 11%;
}

.produto {
    width: 38%;
}

.preco {
    width: 18%;
}

.tr-carrinho {
    background-image: url('../img/carrinho-de-compras.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#carrinho-add {
    margin-top: 5px;
    height: 300px;
    width: 90%;
    background-color: rgba(247, 247, 247, 0.562);
}

#li-carrinho {
    cursor: auto;
    border: none;
    margin: 0;
    width: 100%;
    background-color: rgb(247, 247, 247);
}

.lista-carrinho {
    border: none;
    font-size: 15px;
    padding: 0;

    text-align: left;
}

.lista-carrinho:hover {
    border: none;
    background-color: rgb(247, 247, 247);
}
.finalizar-pedido{
padding-left: 2px;
}
.pagamento-table{
margin: 0px;
}

#forma-pagamento{
    margin: 0;
    text-align: center;
    outline: none;
    width: 70%;
    padding: 12px;
    height: 20px;
    border-radius: 2px;
    margin-top: 3px;
}
.tr-cliente{
    text-align:right;
}
#buscar-cliente{
    margin: 0;
    
    outline: none;
    width: 50%;
    padding: 2px;
    height: 20px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid gray;
}
#button-cliente{
   margin-top: 2px;
}
.button-cliente{
    text-align: left;
}
   
.troco{
    font-size: 25px;
    padding-top: 15px;
}
#troco{
    padding-top: 15px;
    font-weight: bold;
    color: #333;
    font-size: 35px;}

#total {
    font-weight: bold;
    color: #333;
    font-size: 50px;
}
.total{
    height:60px;
    padding-top: 15px;
}
.tr-total,.tr-buscarCliente,.tr-pagamento{background-color:rgb(0, 38, 87);
color: white;}

.buttonFinalizar{
    height: 80px;
}