:root {
    --cor-AzulEscura: rgb(78, 78, 78);
    ;
    --cor2: rgb(0, 38, 87);
    /* --cor2: #333333; */
    --cor3: #ffffff;
    --cor-InputAmarelo: #FFFFE0;
    --background-color: rgb(78, 78, 78);
    ;
}

li {
    border-radius: 0;
}

.menu-list-2 {
    position: absolute;
    left: 150px;
}

.alert {
    display: none;
}

.alertDisplay {
    font-size: 15px;
    position: absolute;
    width: 450px;
    height: 150px;
    background-color: rgb(27, 27, 27);
    border: 1px solid gray;
    color: white;
    border-radius: 10px;
    left: 350px;
    top: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 5px;
}

/* Estilo para a tabela de pedido */
.tablePrint {
    width: 100%;
    border-collapse: collapse;
}

.tablePrint,

.tdPrint {
    border: 1px solid black;
}


.tdPrint {
    padding: 8px;
    text-align: left;
}


#bottonAlert {
    background-color: rgb(190, 231, 255);
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    height: 30px;
    width: 50px;
}

.msg {
    margin-left: 10px;
}

.imgLogo {
    margin-left: 10px;
    width: 70px;
}

h3 {
    color: rgb(0, 38, 87);
}

.logo:hover {
    background-color: rgb(247, 247, 247);
}

.container {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 98vh;
    overflow: hidden;
}

body {
    overflow: auto;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: var(--cor2)
        /* background: rgb(0, 38, 87); */
}

.container-table {
    margin-top: 105px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    text-align: center;
    align-items: center;
    font-weight: normal;
    min-height: 20px;
}

.td {
    height: 20px;
}

.tdEAN {
    /* border: 1px solid rgb(182, 182, 182); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
    margin-top: -18px;
}

.tr-buscar {
    text-align: left;
}


#label-EAN {
    background-color: var(--cor2);
    /* background-color: rgb(0, 38, 87); */
    color: white;
    padding: 5px;
    border: 1px solid rgb(78, 78, 78);
    ;
}

th {
    /* background-color: rgb(0, 38, 87); */
    color: var(--cor3);
    background-color: var(--cor2);
}

#table-carrinho {
    margin-top: 20px;
}


#input-EAN[type=number]::-webkit-inner-spin-button,
#input-EAN[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

input,
#clienteEncontrado {
    text-align: center;
    outline: none;
    height: 29px;
    background-color: #FFFFE0;
    font-size: 16px;
}

#clienteEncontrado {
    text-align: center;
    outline: none;
    width: 100%;
    height: 29px;
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2)
}


#dinheiro-recebido[type=number]::-webkit-inner-spin-button,
#dinheiro-recebido[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#buscar-cliente[type=number]::-webkit-inner-spin-button,
#buscar-cliente[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

#inputCPF[type=number]::-webkit-inner-spin-button,
#inputCPF[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
} 


#dinheiro-recebido {
    display: flex;
    text-align: center;
    border: 1px solid #ccc;
    padding: 2px;
    height: 29px;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: -1px;
}

#inputCPF {
    display: flex;
    text-align: center;
    border: 1px solid #ccc;
    height: 24px;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-left: 2px;
}

.display {
    display: none;
}


#input-EAN {
    border: 1px solid #ccc;
    margin: 2px;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 2px;
    width: 100%;
    height: 23px;
}



#input-qtd {
    width: 100%;
    height: 22px;
    font-size: 15px;
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 16px;
    background-color: #FFFFE0;
    display: flex;
    justify-content: center;
    text-align: center;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin: 2px;
}

#carrinho {
    width: 40%;
    text-align: center;
}

#carrinho1 {
    width: 60%;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    background-color: #FFFFE0;
}

#buttonAddCarrinho:active {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-top: 2px solid rgb(48, 48, 48);
    border-left: 2px solid rgb(48, 48, 48);
    border-right: 1px solid rgb(143, 143, 143);
    border-bottom: 1px solid rgb(143, 143, 143);
}

#buttonAddCarrinho {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* Mudar a cor do botão quando clicado */
    border-top: 1px solid rgb(143, 143, 143);
    border-left: 1px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(48, 48, 48);
    border-bottom: 2px solid rgb(48, 48, 48);
}

#button-clear {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* Mudar a cor do botão quando clicado */
    border-top: 1px solid rgb(143, 143, 143);
    border-left: 1px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(48, 48, 48);
    border-bottom: 2px solid rgb(48, 48, 48);
}

#button-clear:active {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-top: 2px solid rgb(48, 48, 48);
    border-left: 2px solid rgb(48, 48, 48);
    border-right: 1px solid rgb(143, 143, 143);
    border-bottom: 1px solid rgb(143, 143, 143);
}
#finalizar-venda {
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px 20px;
    border: none;
    width: 100%;
    cursor: pointer;
    /* Mudar a cor do botão quando clicado */
    border-top: 1px solid rgb(143, 143, 143);
    border-left: 1px solid rgb(143, 143, 143);
    border-right: 2px solid rgb(48, 48, 48);
    border-bottom: 2px solid rgb(48, 48, 48);
}

#finalizar-venda:active{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    margin: 2px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-top: 2px solid rgb(48, 48, 48);
    border-left: 2px solid rgb(48, 48, 48);
    border-right: 1px solid rgb(143, 143, 143);
    border-bottom: 1px solid rgb(143, 143, 143);
}

/* 
#button-clear:hover, #buttonAddCarrinho:hover {
    background-color: #45a049;
} */

.codigo {
    width: 12%;
}

.produto {
    width: 20%;
}

.descricao {
    width: 34%;
}

.preco {
    width: 11%;
}

.estoque {
    width: 11%;
}

.excluir {
    width: 20px;
    margin-left: -10px;
}

.buttonExcluir {
    display: flex;
    justify-content: right;
    margin-left: 15px;
    width: 40px;
    height: auto;
    background-color: rgba(247, 247, 247, 0);
    border: none;
    cursor: pointer;
}

.buttonExcluir:hover {
    display: flex;
    justify-content: right;
    margin-left: 15px;
    margin-left: 15px;
    width: 40px;
    cursor: pointer;
    height: auto;
    background-color: rgba(247, 247, 247, 0);
}

.carrinho-add {
    width: 50%;
    margin-top: -5px;
    height: 390px;
    margin-left: 6px;
    background-image: url('../img/carrinho-de-compras.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#lista {
    height: 362px;
    border: 1px solid rgb(221, 221, 221);
    overflow-y: scroll;
    width: 97%;
    height: 200px;
    margin-top: -10px;
    background-color: rgb(247, 247, 247);
}

#forma-pagamento {
    cursor: pointer;
    text-align: center;
    outline: none;
    width: 100%;
    height: 29px;
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#vendedor {
    margin-left: 10px;
    text-align: center;
    outline: none;
    width: 200px;
    height: 28px;
    margin-left: 2px;
    background-color: #FFFFE0;
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 16px;
    background-color: #FFFFE0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

option {
    font-size: 17px;
    height: 20px;
}

.tr-cliente {
    text-align: right;
}

#buscar-cliente {
    margin: 0;
    outline: none;
    width: 50%;
    padding: 2px;
    height: 20px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid gray;
}

#cliente-add {
    margin: 0;
    outline: none;
    width: 60%;
    padding: 2px;
    height: 25px;
    border-radius: 2px;
    margin-top: 3px;
    border: 1px solid gray;
    font-size: 16px;
}

#button-cliente {
    margin-top: 2px;
}

.button-cliente {
    text-align: left;
}

.tr-buscarCliente,
.tr-pagamento {
    background-color: rgb(78, 78, 78);
    /* background-color: rgb(0, 38, 87); */
    color: white;

}


.buscar-cliente {
    display: none;
    position: absolute;
    width: 500px;
    height: 200px;
    bottom: 350px;
    right: 10px;
}

.titulo-carrinho {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 38, 87); */
    height: 10px;
    background-color: var(--cor2);
    color: var(--cor3);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: -15px;
}

.titulo-finalizar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(0, 38, 87); */
    height: 10px;
    background-color: var(--cor2);
    color: var(--cor3);
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    width: 100%;
}

.spanCli {
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(0, 38, 87); */
    color: white;
    background-color: rgb(78, 78, 78);
    border: 1px solid rgba(128, 128, 128, 0.342);
    height: 20px;
    margin-top: 0px;
}

#total {
    font-weight: bold;
    color: #333;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -15px;
    border-left: none;
    padding-bottom: 17px;
    border-top: none;
}

.total {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-left: none;
    height: 19px;
    margin-top: -22px;
}

#troco {
    font-weight: bold;
    color: #333;
    padding-top: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -15px;
    border-left: none;
    padding-bottom: 17px;
    border-top: none;
}

.troco {
    border-left: none;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    display: flex;
    justify-content: center;
    margin-top: -15px;
}

.spanPG {
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);
    border-right: none;
    display: flex;
    justify-content: center;
    margin-top: -16px;
}

/* .dataHJ {
    margin-left: 0px;
    padding-left: 150px;
    background-color: red;
} */
.labelDate {
    margin-left: 20px;
    font-size: 16px;
    border: 1px solid rgb(196, 196, 196);
    padding: 2px;
}

td {
    border: 1px solid rgb(196, 196, 196);
}


.clienteTitulo {
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -15px;
    padding: 3.5px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.clienteTitulo2 {
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -23px;
    padding: 3.5px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 29px;
    border-top: 1px solid #fdfdfd00
}

.clienteTitulo3 {
    text-align: center;
    align-items: center;
    display: flex;
    padding: 3.5px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -10px;
}

.tituloBuscarCli {
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: -16px;
    background-color: rgb(0, 38, 87);
    color: white;
    border: 1px solid rgba(128, 128, 128, 0.342);

}


.container-finalizar {
    display: flex;
    margin-top: -31px;
}

.label {
    font-weight: bold;
}

.value {
    margin-left: 10px;
}

.divPrint {
    display: none;
}

.correcaoMarginTop {
    width: 100%;
    height: 10px;
}


.descricaoLista {
    border: none;
    display: flex;
    margin-left: -20px;
    margin-top: -15px;
    width: 100%;
    height: 17px;
    justify-content: left;
}

#descricaoLista {
    display: flex;
    justify-content: center;
    margin-top: -2px;
}

#descricaoLista2 {
    display: flex;
    justify-content: center;
    margin-top: -10px;
    height: 36px;
    display: flex;
}

#spanDescricao,
#estoque {
    height: 30px;
    text-align: center;
}

.thDescricaoProduto {
    background-color: #ffffff00;
    color: black;
}

.spanCodigo,
.spanNumero {
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 170px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
}

.codigoP {
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 169px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;

}

.item {
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 170px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    margin-left: 43px;
}

.produtos,
.spanNome {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.spanDescricao {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricaoList {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#descricaoList {
    /* border-right:1px solid rgb(173, 173, 173); */
}

.precoProduto,
.spanPrecoNovo {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Qtd,
.estoque {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
}
#preco,#codigo,#produto,#descricao{
    height: 30px;
}

.Qtd2 {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
}

.vlTotal {
    height: 22px;
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 158px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.spanQtd {
    height: 22px;
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 156px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deletar {
    height: 22px;
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-carrinho {
    border: none;
    display: flex;
    justify-content: left;
    width: 100%;
    height: 22px;
    margin-left: -20px;
    margin-top: 2px;
}

.li-carrinho:hover {
    border: none;
    height: 22px;

}

.clienteCPF {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 439px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
}

.clienteCPF:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 439px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.clienteCPF2 {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 439px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
}

.clienteCPF2:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 439px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.clienteCPFInput {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    height: 35px;
    border: 1px solid rgb(173, 173, 173);
    border-right: none;
    border-top: none;
    width: 430px;
}

.clienteBuscar {
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 300px;
    padding-left: 50px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
}

.clienteBuscar:hover {
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 300px;
    padding-left: 50px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
}

.clienteBuscar2 {
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 348px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;

}

.clienteBuscar2:hover {
    border: 1px solid rgb(173, 173, 173);
    border-left: none;
    width: 348px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);

}

.spanFormPag {
    margin-top: 0px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    height: 35px;
    border-right: 1px solid rgb(173, 173, 173);
    width: 300px;
    padding-left: 50px;

}

/* li{
    border-radius: 2px;
} */



.div-table1 {
    height: 300px;
    margin-top: -12px;
    margin-right: 15px;
}

.formaPag {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 200px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-left: none;
}

.formaPag:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 200px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-left: none;
    background-color: rgba(255, 255, 255, 0);
}

.formaPag2 {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 200px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    border-left: none;
}

.formaPag2:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 200px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    border-left: none;
    background-color: rgba(255, 255, 255, 0);
}

.alterarCli {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 400px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-right: none;
}

.alterarCli:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 400px;
    display: flex;
    height: 22px;
    justify-content: center;
    align-items: center;
    border-right: none;
    background-color: rgba(255, 255, 255, 0);
}

.alterarCli2 {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 400px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    border-right: none;
}

.alterarCli2:hover {
    margin-left: 0;
    border: 1px solid rgb(173, 173, 173);
    width: 400px;
    display: flex;
    height: 29px;
    justify-content: center;
    align-items: center;
    border-right: none;
    background-color: rgba(255, 255, 255, 0);
}



.divTotal {
    width: 100%;
    height: 125px;
    margin-top: -15px;

}

#tdVendedor {
    width: 846px;
    height: 92px;
    justify-content: center;
    display: flex;
}

#tdVendedor:hover {
    width: 846px;
    height: 92px;
    justify-content: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0);

}

.trFinalizar {
    justify-content: center;
    display: flex;
}

.tdFinalizar {
    display: block;
    width: 172px;
    font-size: 20px;
    height: 92px;
    border-left: none;
}

.tdFinalizar:hover {
    display: block;
    width: 172px;
    font-size: 20px;
    height: 92px;
    border-left: none;
    background-color: rgba(255, 255, 255, 0);
}

.tdvalores2 {
    display: flex;
    align-items: center;
    justify-content: center;
}



.btnFinalizar{
    border-left: none;
    font-size: 15px;
  
    height: 92px;
    background-color: rgba(255, 255, 255, 0);
} 

.btnFinalizar:hover{
    border-left: none;
    font-size: 15px;
    height: 92px;
    background-color: rgba(255, 255, 255, 0);
}  